<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>

    <h2>Using ngif</h2>
    <input type="radio" name="radio1" (click)="changevalue(true)">true
    <input type="radio" name="radio1" (click)="changevalue(false)">false
    <!-- <div *ngIf="isValid">
        this is valid data
    </div>
    <div *ngIf="!isValid">
        this is not valid data
    </div> -->



    <!-- <div *ngIf="isValid; else elseblock">
        this is valid data
    </div>

    <ng-template #elseblock>
        <div>THIS IS NOT VALID DATA</div>
    </ng-template> -->


    <!-- <div *ngIf="isValid; then thenblock; else elseblock"></div>
    <ng-template #thenblock>
        <div> this is valid data </div>

    </ng-template>
    <ng-template #elseblock>
        <div> this is not valid data </div> -->

    </ng-template>












    <router-outlet></router-outlet>